/* .mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  max-width: 1em;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  max-width: 1em;
} */
